<!-- Left sidebar -->
<div class="email-leftbar card">
  <%= link_to "Thêm phòng thi", new_admin_room_management_path, class: 'btn btn-danger rounded btn-custom btn-block waves-effect waves-light', data: { modal: true } %>

  <h6 class="m-t-30">Danh sách phòng thi</h6>

  <div class="mail-list m-t-10">
    <a href=<%=admin_room_management_index_path %> class='active'> <span class="float-right"><%=@rooms.sum(:slot)%> chỗ</span> <i class="ti-star mr-2"></i> Tất cả </a>
    <% @rooms.each do |room| %>
      <a href=<%=admin_room_management_path(room) %>><span class="float-right"><%=room.slot%> chỗ</span> <i class="ti-star mr-2"></i> <%=room.name %> </a>
    <% end %>
  </div>

</div>
<!-- End Left sidebar -->