<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:html_title) ? yield(:html_title) + " | TestReady" : "TestReady" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="shortcut icon" href="assets/images/favicon.ico">

  <%= javascript_include_tag "application.js", 'data-turbolinks-track': 'reload' %>

  <!--  Modal -->
  <%= javascript_include_tag "modal.js", 'data-turbolinks-track': 'reload'  %>

  <%= stylesheet_link_tag "bootstrap.min", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "metismenu.min", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "icons", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "style", 'data-turbolinks-track': 'reload' %>


  <!-- CSS include per view -->
  <%= yield :css_includes %>
</head>

<body>
  <%= render partial: 'layouts/shared/header' %>

  <div class="wrapper">
    <div class="container-fluid">
      <!-- Page-Title -->
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <h4 class="page-title"><%= content_for(:html_title) %></h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a href=<%=root_path%>><%=@App_Name %></a></li>
              <li class="breadcrumb-item active"><%= content_for(:html_title) %></li>
            </ol>
          </div>
        </div>
      </div>
      <div id="primary-content">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render partial: 'layouts/shared/footer' %>
  <div id="modal-holder"></div>
</body>

<!-- jQuery  -->
<%= javascript_include_tag "bootstrap.bundle.min", 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag "jquery.slimscroll", 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag "waves.min", 'data-turbolinks-track': 'reload' %>

<!-- App js -->
<%= javascript_include_tag "app.js", 'data-turbolinks-track': 'reload' %>

<!-- JS include per view -->
<%= yield :javascript_includes %>

</html>
