<div class="form-group row">
  <div class="col-sm-12">
    <%= f.association :exam, label: 'Kì thi', error: 'Vui lòng chọn kì thi', disabled: true, class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-12">
    <%= f.association :course, collection: @exam.courses, label: 'Môn thi', error: 'Vui lòng chọn môn thi', class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-12">
    <%= f.input :room, label: "Phòng thi", as: :check_boxes, collection: @rooms %>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-12">
    <%= f.input :date, label: "Ngày thi", as: :date, class: 'form-control'%>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-12">
    <%= f.input :start, label: "Giờ bắt đầu", as: :time, :minute_step => 15, class: 'form-control'%>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-12">
    <%= f.input :finish, label: "Giờ kết thúc", as: :time, :minute_step => 15, class: 'form-control'%>
  </div>
</div>