
<div class="email-leftbar card" style="width: 300px">
  <%= link_to "Thêm/Xoá môn thi", admin_exam_new_course_path, class: 'btn btn-primary rounded btn-custom btn-block waves-effect waves-light', data: { modal: true } %>

  <h6 class="m-t-30">Môn thi hiện tại</h6>
  <div class="mail-list m-t-10">
    <a class="<%=active_course_index_path%>" href="<%=admin_exam_schedule_index_path(@exam)%>">
      <span class="float-right"><%= @exam.exam_schedules.count %></span>
      <i class="ti-location-arrow mr-2"></i>
      Tất cả
    </a>

    <%= render partial: 'admin/schedule_management/index/listCoursesExam' %>
  </div>

</div>


