<div class="table-responsive">
  <table class="table">
    <tbody>
    <% @exam_schedules.sort_by { |d| d[:date] }.each_with_index do |schedule, index| %>
      <% course = schedule.course %>
      <% room = schedule.room %>
      <% registrations = schedule.registrations %>
      <tr class="pt-0">
        <td type="width: 10%">
          <div class="checkbox-wrapper-mail">
            <input type="checkbox" id="id[]" class="chk" value=<%=schedule.id%>>
          </div>
        </td>
        <td>
          <h6 class=""><%= course.name %> </h6>
          <h7 class="text-muted"><%= course.courseID %></h7>
        </td>
        <td class="">
          <a>
            <h6 class="mb-0"> <%= schedule.date.strftime "%d/%m/%Y" %> </h6>
            <p class="text-muted mt-1 mb-0"><%= schedule.start.strftime "%H:%M" %>
              - <%= schedule.finish.strftime "%H:%M" %> </p>
          </a>
        </td>
        <td class="">
          <h6> <%= room.name %></h6>
          <p class="text-muted mt-1 mb-0"><%= registrations.count %>/<%= room.slot %> </p>
        </td>
        <td class="text-right">
          <%= link_to "Xem danh sách", admin_exam_schedule_path(@exam, schedule), class: 'btn btn-primary rounded btn-custom btn-block waves-effect waves-light', data: { modal: true } %>
          <%= link_to "Sửa thông tin", edit_admin_exam_schedule_path(@exam, schedule), class: 'btn btn-outline-warning rounded btn-custom btn-block waves-effect waves-light', data: { modal: true } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>