<!--  Modal content for the above example -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0" id="myLargeModalLabel">Thêm ca thi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
              <div class="col-12">
                <div class="card" style = "margin-bottom: 0!important;">
                  <div class="card-body">
                    <%= form_for @exam_schedule, url:  admin_schedule_management_index_path do |f| %>
                      <div class="form-group row">
                        <%= f.label :exam_id, 'Kỳ thi', :class => 'col-sm-2 col-form-label' %>
                        <div class="col-sm-10">
                          <%= f.collection_select :exam_id, @exams,:id,:name, {}, {class: 'form-control'} %>
                        </div>
                      </div>
                      <div class="form-group row">
                        <%= f.label :course_id, 'Môn thi', :class => 'col-sm-2 col-form-label' %>
                        <div class="col-sm-10">
                          <%= f.collection_select :course_id, @courses,:id,:name,{}, {class: 'form-control'} %>
                        </div>
                      </div>
<!--                      <div class="form-group row">-->
                        <%#= f.label :room_id, 'Phòng thi', :class => 'col-sm-2 col-form-label' %>
<!--                        <div class="col-sm-10">-->
                          <%#= f.collection_select :room_id, @rooms.order(:name),:id,:name,{}, {class: 'form-control'} %>
<!--                        </div>-->
<!--                      </div>-->
                      <div class="form-group row">
                        <%= f.label :date, 'Ngày thi', :class => 'col-sm-2 col-form-label' %>
                        <div class="col-sm-10">
                          <div class="input-group">
                            <%= f.text_field :date, :class => 'form-control', :id => 'example-date-input', :type => 'date', :value => '11/11/2019'  %>
                            <div class="input-group-append bg-custom b-0"><span class="input-group-text"><i class="mdi mdi-calendar"></i></span></div>
                          </div><!-- input-group -->
                        </div>
                      </div>
                      <div class="form-group row">
                        <%= f.label :start, 'Giờ bắt đầu', :class => 'col-sm-2 col-form-label' %>
                        <div class="col-sm-10">
                          <%= f.text_field :start, :class => 'form-control', :type => 'time', :id => 'example-time-input', :value => '08:00:00' %>
                        </div>
                      </div>
                      <div class="form-group row">
                        <%= f.label :finish, 'Giờ kết thúc', :class => 'col-sm-2 col-form-label' %>
                        <div class="col-sm-10">
                          <%= f.text_field :finish, :class => 'form-control', :type => 'time', :id => 'example-time-input', :value => '10:00:00' %>
                        </div>
                      </div>
                      <div class="form-group">
                        <%= f.submit 'LƯU', class:'btn btn-block btn-primary waves-effect waves-light' %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div> <!-- end col -->
            </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->