<div class="card m-b-30" id=<%="card_#{course.id}"%>>
  <div class="card-body">
    <div class="mini-stat-icon float-right">
      <i class="mdi mdi-school bg-success text-white"></i>
    </div>
    <div>
      <h4 class="font-15">
        <%= course.name %>
      </h4>
      <h5 class="mt-4">
        <%= course.courseID %>
      </h5>
      <h7 class="mt-4">
        Số tín chỉ: <%= course.credit %>


      </h7>
    </div>

    <div class="progress mt-4" style="height: 4px;">
      <% course_percents = registrations_percent(course) %>
      <div class="progress-bar bg-success" role="progressbar" style="width: <%=course_percents%>%" aria-valuenow=<%=course_percents%> aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p class="text-muted mt-2 mb-0">Tỉ lệ hoàn thành đăng kí kì thi gần nhất<span class="float-right"><%=course_percents%>%</span></p>

    <div class="mt-4">
      <%= link_to "Xem danh sách đăng ký của kỳ thi gần nhất", admin_course_path(course), class: 'btn btn-block btn-lg btn-primary waves-effect waves-light mr-2 mt-2', data: { modal: true } %>
      <%= link_to "Sửa thông tin", edit_admin_course_path(course), class: 'btn btn-block btn-outline-warning waves-effect waves-light mt-2', data: { modal: true } %>
      <button type="button" id="alertify-confirm" class="deleteButton btn btn-block btn-outline-danger waves-effect waves-light mt-2" data-course-id=<%=course.id%>>Xoá khoá học</button>
    </div>

  </div>
</div>